:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #fff;
  --modal-background: #fcfcfc;
}

/* golbal */
body {
  font-family: "Roboto", sans-serif;
  color: var(--dark);
}

a {
  text-decoration: none;
  color: currentColor;
}
ul {
  list-style-type: none;
}

/* header */

.logo-text {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 3%;
  text-transform: uppercase;
}

.logo-color {
  color: var(--pressed-state);
}

.nav-items {
  font-weight: 500;
  letter-spacing: 2%;
  line-height: 1.5;
}

.nav-item-link:is(:hover, :focus) {
  color: var(--pressed-state);
}

.header-adress-item {
  color: var(--text);
  letter-spacing: 2%;
  line-height: 1.5;
  font-style: normal;
}

.header-adress-link:is(:hover, :focus) {
  color: var(--pressed-state);
}

/* hero */
.hero {
  background-color: var(--hero-background);
  color:white;
  text-align: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 1.07;
}

.hero-button {
  line-height: 1.5;
  letter-spacing: 4%;
  font-weight: 500;
  color: var(--white-background);
  background-color: var(--primary-brand);
  cursor: pointer;
}

.hero-button:is(:hover, :focus) {
  background-color: var(--pressed-state);
}

/* our features */
.our-features {
}

.our-features-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2%;
}

.our-features-text {
  line-height: 1.5;
  letter-spacing: 2%;
}

/* our team */

.our-team {
  background-color: var(--light);
}

.our-team-title{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 2%;
    line-height: 1.1;
}

.our-team-item{
 background-color: var(--white-background);
 box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.our-team-item h3{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2%;
    line-height: 1.2;
    text-align: center;
}

.our-team-item p{
    letter-spacing: 2%;
    text-align: center;
    line-height: 1.5;
}

/* portfolio */

.portfolio{

}

.portfolio-title{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 2%;
    line-height: 1.11;
}
.portfolio-item{

}

.portfolio-item h4{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
    line-height: 1.2;
}

.portfolio-item p{
    letter-spacing: 2%;
    line-height: 1.5;
    color: var(--text);
}

/* footer */

.footer{
    background-color: var(--hero-background);
    color: var(--light);
   
}
.footer a{
    font-family: "Raleway", sans-serif;    
    font-size: 18px;
    letter-spacing: 3%;
    text-transform: uppercase;
    line-height: 1.16;
    }

.footer p{
    letter-spacing: 2%;
    line-height: 1.5;
}